body {
  padding-top: 35px;
  padding-bottom: 20px;
}

#formulaire {
	background-color: white;	
}

h1{ 
text-align : center; 
}
/* ===== Dark table ===== */

.tDark tbody td { border-left: 1px solid #dadada; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; }
.tDark thead td { border-left: 1px solid #808080;  border-bottom: 1px solid #808080; }
.tDark tbody td:first-child, .tDark thead td:first-child { border-left: none; }
.tDark tbody td { padding: 9px 16px; vertical-align: middle; color: #777; }
.tDark tbody tr { border-top: 1px solid #dadada; }
.tDark thead td { text-align: center; padding: 7px 12px; font-weight: bold; color: black; }
.tDark tbody tr { background: #f4f4f4; }
.tDark thead tr { background: #b0b2b4; }
.tDark {
	margin-left: auto;
    margin-right: auto;
}

.titre{
	background-color:blue;
}
.zoom img:hover {
width:100%;
height:100%;
}
